$black: #343434;
$grey: #F5F5F5;
$green: #bcfbdc;
$purple: #cfd3fc;

$dubstepRed: #fe9ea2;
$futureBlue: #86ddfa;
$futurespectrum: #caf0fd;
$drumBassPurple: #d9d3e3;

$deephousePurple: #2c1b55;
$brightDeephousePurple: #4d2f94;
$deepDrumAndBassPurple: #262133;

$futureBeatSecond: .697;
$dubstepBeatSecond: .428;
$deephouseBeatSecond: .483;
$drumandbassBeatSecond: .348;

$brandon: 'Brandon Grotesque Light', sans-serif;