.errorPane {
  position: absolute;
  height: 100%; width: 100%;

  opacity: 0;
  background: #000;
  color: #F5F5F5;
  transition: opacity 1s;
  text-align: center;
  &.isShown {
    opacity: 1;
  }
  .wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h2 {
    margin-top: 0;
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
  }
  &__message {
    font-size: 1em;
  }
}