<section id="loader">
    <div class="loader-animation">
        <div class="loader-outline"></div>
        <div class="loader-image"></div>
    </div>
    <div class="loader-bottom">
        <h2>WE <i class="icon-love"></i><i class="icon-music"></i> AND
            <i class="icon-headphones"></i>
            <span>So, pump up the volume!</span></h2>
        <p class="loader-itemLoading">Loading
            <span class="loader-fileName"></span></p>
    </div>
</section>

<section id="dubstep" class="soundExperience dubstepScene">
    <a href="/" class="logo__link">Tempo</a>

    <div class="the-scene">

        <a href="/genre" class="scene__back-button">← Back</a>

        <div class="scene__bouncer">
            <div class="scene__bouncer-name"></div>
            <div class="scene__bouncer-circle"></div>
            <div class="scene__bouncer-outline"></div>
            <div class="scene__bouncer-outline-2"></div>
            <div class="scene__bouncer-outline-3"></div>
            <div class="scene__shape">
                <div class="the-shape"></div>
            </div>
        </div>

        <div class="scene__volume">
            <input id="volumeSlider" type="range" min="0" max="1" step=".01" value=".2">
            <label for="volumeSlider">Volume</label>
        </div>
    </div>
    <div class="sample-content">
        <div class="sample__section drum">
            <h5>Drum</h5>
            <div class="sample-droppable-box">
                <div class="sample__droppable" data-sample-length="8" data-sample-id="drum1">
                    <div class="droppable__background">
                        <span>Drums 1</span>
                    </div>
                </div>
                <div class="sample__droppable" data-sample-length="8" data-sample-id="drum2">
                    <div class="droppable__background">
                        <span>Drums 2</span>
                    </div>
                </div>
                <div class="sample__droppable" data-sample-length="8" data-sample-id="drum3">
                    <div class="droppable__background">
                        <span>1/2 Drum</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sample__section synths">
            <h5>Synths</h5>
            <div class="sample-droppable-box">
                <div class="sample__droppable" data-sample-length="8" data-sample-id="synth1">
                    <div class="droppable__background">
                        <span>Gnalz Growley</span>
                    </div>
                </div>
                <div class="sample__droppable" data-sample-length="8" data-sample-id="synth2">
                    <div class="droppable__background">
                        <span>Goat Growl</span>
                    </div>
                </div>
                <div class="sample__droppable" data-sample-length="8" data-sample-id="synth3">
                    <div class="droppable__background">
                        <span>Hollow Point</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="sample__section fx">
            <h5>Fx</h5>
            <div class="sample-droppable-box">
                <div class="sample__droppable" data-sample-length="8" data-sample-id="fx1">
                    <div class="droppable__background">
                        <span>Prasze zaror</span>
                    </div>
                </div>
                <div class="sample__droppable" data-sample-length="8" data-sample-id="fx2">
                    <div class="droppable__background">
                        <span>The Riff</span>
                    </div>
                </div>
                <div class="sample__droppable" data-sample-length="8" data-sample-id="fx3">
                    <div class="droppable__background">
                        <span>What</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>WE <i class="icon-love"></i><i class="icon-music"></i> AND
        <i class="icon-headphones"></i></h2>
</section>