<section class="genre-container" id="genre">

    <a href="/" class="logo__link">Tempo</a>

    <div class="genre__container">
        <a href="/future">
            <div class="categories genre__future">
                <div class="genre__shape-bounce"></div>
                <span class="bpm__number">80</span>
                <img class="genre__image__name" src="../img/Future.png"
                     alt="Future music style">
            </div>

        </a>
        <a href="/dubstep">
            <div class="categories genre__dubstep">
                <div class="genre__shape-bounce"></div>
                <span class="bpm__number">140</span>
                <img class="genre__image__name" src="../img/Dubstep.png"
                     alt="Dubstep music style">
                <span class="genre__feature-title">Feat. Virtual Riot</span>
            </div>
        </a>
        <a href="/deephouse">
            <div class="categories genre__deephouse">
                <div class="genre__shape-bounce"></div>
                <span class="bpm__number">124</span>
                <img class="genre__image__name" src="../img/Deephouse.png"
                     alt="Deephouse music style">
            </div>
        </a>
        <a href="/drumandbass">
            <div class="categories genre__drumandbass">
                <div class="genre__shape-bounce"></div>
                <span class="bpm__number">172</span>
                <img class="genre__image__name" src="../img/Drumandbass.png"
                     alt="Drum and bass music style">
            </div>
        </a>
    </div>


</section>