<section id="home">
  <div class="home__container">
    <a href="/" class="logo__link">Tempo</a>
    <p class="home__headline">Train yourself at making a musical
      environment.</p>
    <div class="home__buttons">
      <a class="home__button" href="/genre">Start</a>
    </div>
  </div>
  <div class="rounds">
    <div class="round-1"></div>
    <div class="round-2"></div>
    <div class="round-3"></div>
    <div class="round-4"></div>
    <div class="round-5"></div>
  </div>
</section>