<section id="loader">
  <div class="loader-animation">
    <div class="loader-outline"></div>
    <div class="loader-image"></div>
  </div>
  <div class="loader-bottom">
    <h2>WE <i class="icon-love"></i><i class="icon-music"></i> AND <i class="icon-headphones"></i>
      <span>So, pump up the volume!</span></h2>
    <p class="loader-itemLoading"></p>
  </div>
</section>