.loader-bottom {
  bottom: 0; left: 0; right: 0;
  position: absolute;
  padding: 20px 0;
  h2 {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    white-space: pre-line;
    margin-bottom: 0;
    span {
      color: #999;
      font-size: .6em;
      margin-top: -5px;
      display: block;
    }
  }
  .loader-itemLoading {
    text-align: center;
    font-size: .7em;
    font-weight: bold;
    text-transform: uppercase;
    color: #BBB;
  }
}

@keyframes boomerIsBeating {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(.8);
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes waveIsPulsing {
  0% {
    opacity: 1;
    transform: scale(.7);
  }
  100% {
    opacity: 0;
    transform: scale(1.4); }
}

@keyframes loadingIsDone {
  0% {
    transform: scale(.7);
  }
  40% {
    transform: scale(200);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader-animation {
  position: relative;
  width: 350px; height: 350px;
  margin: 40px auto;
  .loader-outline {
    position: absolute;
    box-sizing: border-box;
    border: 4px solid $green;
    height: 100%; width: 100%;
    border-radius: 100%;
    animation: waveIsPulsing 1.5s infinite;
  }
  .loader-image {
    position: absolute;
    height: 100%; width: 100%;
    background: url('../img/loader-boomer.svg') center/cover no-repeat;
    animation: boomerIsBeating 1.5s infinite ease-out;
    &.finished {
      animation: loadingIsDone 3s;
    }
  }
}