* {
    box-sizing: border-box;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow: hidden;
}

html, body, #main {
  height: 100%;
  width: 100%;
}

body {
  color: $black;
  font-family: $brandon;
}

a {
  color: #F5F5F5;
}

.scene {
  overflow: hidden;
}